<h1>Pandas class3: aggregating and grouped summary</h1>

<h2>Aggregating Data</h2>

In [68]:
import numpy as np
import pandas as pd

homelessness_df=pd.read_csv("E:\CAREER_DATA\data_files\homelessness.csv",index_col=0)
print(homelessness_df)
print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
sales_subset_df=pd.read_csv("E:\CAREER_DATA\data_files\\sales_subset.csv",index_col=0)
print(sales_subset_df)
print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
temperature_df=pd.read_csv("E:\CAREER_DATA\data_files\\temperatures.csv",index_col=0)
print(temperature_df)
print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
brics_df=pd.read_csv("E:\CAREER_DATA\data_files\\brics.txt",index_col=0)
print(brics_df)
print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
avocado_df=pd.read_pickle("E:\CAREER_DATA\data_files\\avoplotto.pkl")
print(avocado_df)

                region                 state  individuals  family_members  \
0   East South Central               Alabama       2570.0           864.0
1              Pacific                Alaska       1434.0           582.0
2             Mountain               Arizona       7259.0          2606.0
3   West South Central              Arkansas       2280.0           432.0
4              Pacific            California     109008.0         20964.0
5             Mountain              Colorado       7607.0          3250.0
6          New England           Connecticut       2280.0          1696.0
7       South Atlantic              Delaware        708.0           374.0
8       South Atlantic  District of Columbia       3770.0          3134.0
9       South Atlantic               Florida      21443.0          9587.0
10      South Atlantic               Georgia       6943.0          2556.0
11             Pacific                Hawaii       4131.0          2399.0
12            Mountain                 Idaho       1297.0           715.0
13  East North Central              Illinois       6752.0          3891.0
14  East North Central               Indiana       3776.0          1482.0
15  West North Central                  Iowa       1711.0          1038.0
16  West North Central                Kansas       1443.0           773.0
17  East South Central              Kentucky       2735.0           953.0
18  West South Central             Louisiana       2540.0           519.0
19         New England                 Maine       1450.0          1066.0
20      South Atlantic              Maryland       4914.0          2230.0
21         New England         Massachusetts       6811.0         13257.0
22  East North Central              Michigan       5209.0          3142.0
23  West North Central             Minnesota       3993.0          3250.0
24  East South Central           Mississippi       1024.0           328.0
25  West North Central              Missouri       3776.0          2107.0
26            Mountain               Montana        983.0           422.0
27  West North Central              Nebraska       1745.0           676.0
28            Mountain                Nevada       7058.0           486.0
29         New England         New Hampshire        835.0           615.0
30        Mid-Atlantic            New Jersey       6048.0          3350.0
31            Mountain            New Mexico       1949.0           602.0
32        Mid-Atlantic              New York      39827.0         52070.0
33      South Atlantic        North Carolina       6451.0          2817.0
34  West North Central          North Dakota        467.0            75.0
35  East North Central                  Ohio       6929.0          3320.0
36  West South Central              Oklahoma       2823.0          1048.0
37             Pacific                Oregon      11139.0          3337.0
38        Mid-Atlantic          Pennsylvania       8163.0          5349.0
39         New England          Rhode Island        747.0           354.0
40      South Atlantic        South Carolina       3082.0           851.0
41  West North Central          South Dakota        836.0           323.0
42  East South Central             Tennessee       6139.0          1744.0
43  West South Central                 Texas      19199.0          6111.0
44            Mountain                  Utah       1904.0           972.0
45         New England               Vermont        780.0           511.0
46      South Atlantic              Virginia       3928.0          2047.0
47             Pacific            Washington      16424.0          5880.0
48      South Atlantic         West Virginia       1021.0           222.0
49  East North Central             Wisconsin       2740.0          2167.0
50            Mountain               Wyoming        434.0           205.0

    state_pop
0     4887681
1      735139
2     7158024
3     3009733
4    39461588
5     5691287
6     3571520
7      965479
8      701547
9    21244317
10   10511131
11    1420593
12    1750536
13   12723071
14    6695497
15    3148618
16    2911359
17    4461153
18    4659690
19    1339057
20    6035802
21    6882635
22    9984072
23    5606249
24    2981020
25    6121623
26    1060665
27    1925614
28    3027341
29    1353465
30    8886025
31    2092741
32   19530351
33   10381615
34     758080
35   11676341
36    3940235
37    4181886
38   12800922
39    1058287
40    5084156
41     878698
42    6771631
43   28628666
44    3153550
45     624358
46    8501286
47    7523869
48    1804291
49    5807406
50     577601
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
       store type  department        date  weekly_sales  is_holiday  \
0          1    A           1  2010-02-05      24924.50       False
1          1    A           1  2010-03-05      21827.90       False
2          1    A           1  2010-04-02      57258.43       False
3          1    A           1  2010-05-07      17413.94       False
4          1    A           1  2010-06-04      17558.09       False
...      ...  ...         ...         ...           ...         ...
10769     39    A          99  2011-12-09        895.00       False
10770     39    A          99  2012-02-03        350.00       False
10771     39    A          99  2012-06-08        450.00       False
10772     39    A          99  2012-07-13          0.06       False
10773     39    A          99  2012-10-05        915.00       False

       temperature_c  fuel_price_usd_per_l  unemployment
0           5.727778              0.679451         8.106
1           8.055556              0.693452         8.106
2          16.816667              0.718284         7.808
3          22.527778              0.748928         7.808
4          27.050000              0.714586         7.808
...              ...                   ...           ...
10769       9.644444              0.834256         7.716
10770      15.938889              0.887619         7.244
10771      27.288889              0.911922         6.989
10772      25.644444              0.860145         6.623
10773      22.250000              0.955511         6.228

[10774 rows x 9 columns]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
             date     city        country  avg_temp_c
0      2000-01-01  Abidjan  Côte D'Ivoire      27.293
1      2000-02-01  Abidjan  Côte D'Ivoire      27.685
2      2000-03-01  Abidjan  Côte D'Ivoire      29.061
3      2000-04-01  Abidjan  Côte D'Ivoire      28.162
4      2000-05-01  Abidjan  Côte D'Ivoire      27.547
...           ...      ...            ...         ...
16495  2013-05-01     Xian          China      18.979
16496  2013-06-01     Xian          China      23.522
16497  2013-07-01     Xian          China      25.251
16498  2013-08-01     Xian          China      24.528
16499  2013-09-01     Xian          China         NaN

[16500 rows x 4 columns]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            date          type  year  avg_price         size     nb_sold
0     2015-12-27  conventional  2015       0.95        small  9626901.09
1     2015-12-20  conventional  2015       0.98        small  8710021.76
2     2015-12-13  conventional  2015       0.93        small  9855053.66
3     2015-12-06  conventional  2015       0.89        small  9405464.36
4     2015-11-29  conventional  2015       0.99        small  8094803.56
...          ...           ...   ...        ...          ...         ...
1009  2018-02-04       organic  2018       1.53  extra_large     1703.52
1010  2018-01-28       organic  2018       1.61  extra_large     1270.61
1011  2018-01-21       organic  2018       1.63  extra_large     1490.02
1012  2018-01-14       organic  2018       1.59  extra_large     1580.01
1013  2018-01-07       organic  2018       1.51  extra_large     1289.07

[1014 rows x 6 columns]

In [56]:
print(homelessness_df.columns)
print(homelessness_df.dtypes)
print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
#mean of homelessness numerical columns
#print(homelessness_df.mean()) #it is raising future error to resolve this i will select numeric column only
numeric_homelessness=homelessness_df.select_dtypes(include="number")
print(numeric_homelessness.mean())
print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
print(numeric_homelessness.median())
print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
print(numeric_homelessness.min())
#in the same way calculate max,var,std,sum,quantile

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
region             object
state              object
individuals       float64
family_members    float64
state_pop           int64
dtype: object
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
individuals       7.225784e+03
family_members    3.504882e+03
state_pop         6.405637e+06
dtype: float64
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
individuals          3082.0
family_members       1482.0
state_pop         4461153.0
dtype: float64
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
individuals          434.0
family_members        75.0
state_pop         577601.0
dtype: float64

<h1>Summary Statistics<h1>

In [57]:
#commulative stats
print(homelessness_df.cumsum()) #commulative sum
#print(homelessness_df.cummax()) #commulative max
#print(homelessness_df.cummin()) #commulative min
#print(homelessness_df.cumprod()) #commulative product

                                               region  \
0                                  East South Central
1                           East South CentralPacific
2                   East South CentralPacificMountain
3   East South CentralPacificMountainWest South Ce...
4   East South CentralPacificMountainWest South Ce...
5   East South CentralPacificMountainWest South Ce...
6   East South CentralPacificMountainWest South Ce...
7   East South CentralPacificMountainWest South Ce...
8   East South CentralPacificMountainWest South Ce...
9   East South CentralPacificMountainWest South Ce...
10  East South CentralPacificMountainWest South Ce...
11  East South CentralPacificMountainWest South Ce...
12  East South CentralPacificMountainWest South Ce...
13  East South CentralPacificMountainWest South Ce...
14  East South CentralPacificMountainWest South Ce...
15  East South CentralPacificMountainWest South Ce...
16  East South CentralPacificMountainWest South Ce...
17  East South CentralPacificMountainWest South Ce...
18  East South CentralPacificMountainWest South Ce...
19  East South CentralPacificMountainWest South Ce...
20  East South CentralPacificMountainWest South Ce...
21  East South CentralPacificMountainWest South Ce...
22  East South CentralPacificMountainWest South Ce...
23  East South CentralPacificMountainWest South Ce...
24  East South CentralPacificMountainWest South Ce...
25  East South CentralPacificMountainWest South Ce...
26  East South CentralPacificMountainWest South Ce...
27  East South CentralPacificMountainWest South Ce...
28  East South CentralPacificMountainWest South Ce...
29  East South CentralPacificMountainWest South Ce...
30  East South CentralPacificMountainWest South Ce...
31  East South CentralPacificMountainWest South Ce...
32  East South CentralPacificMountainWest South Ce...
33  East South CentralPacificMountainWest South Ce...
34  East South CentralPacificMountainWest South Ce...
35  East South CentralPacificMountainWest South Ce...
36  East South CentralPacificMountainWest South Ce...
37  East South CentralPacificMountainWest South Ce...
38  East South CentralPacificMountainWest South Ce...
39  East South CentralPacificMountainWest South Ce...
40  East South CentralPacificMountainWest South Ce...
41  East South CentralPacificMountainWest South Ce...
42  East South CentralPacificMountainWest South Ce...
43  East South CentralPacificMountainWest South Ce...
44  East South CentralPacificMountainWest South Ce...
45  East South CentralPacificMountainWest South Ce...
46  East South CentralPacificMountainWest South Ce...
47  East South CentralPacificMountainWest South Ce...
48  East South CentralPacificMountainWest South Ce...
49  East South CentralPacificMountainWest South Ce...
50  East South CentralPacificMountainWest South Ce...

                                                state  individuals  \
0                                             Alabama       2570.0
1                                       AlabamaAlaska       4004.0
2                                AlabamaAlaskaArizona      11263.0
3                        AlabamaAlaskaArizonaArkansas      13543.0
4              AlabamaAlaskaArizonaArkansasCalifornia     122551.0
5      AlabamaAlaskaArizonaArkansasCaliforniaColorado     130158.0
6   AlabamaAlaskaArizonaArkansasCaliforniaColorado...     132438.0
7   AlabamaAlaskaArizonaArkansasCaliforniaColorado...     133146.0
8   AlabamaAlaskaArizonaArkansasCaliforniaColorado...     136916.0
9   AlabamaAlaskaArizonaArkansasCaliforniaColorado...     158359.0
10  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     165302.0
11  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     169433.0
12  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     170730.0
13  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     177482.0
14  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     181258.0
15  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     182969.0
16  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     184412.0
17  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     187147.0
18  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     189687.0
19  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     191137.0
20  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     196051.0
21  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     202862.0
22  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     208071.0
23  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     212064.0
24  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     213088.0
25  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     216864.0
26  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     217847.0
27  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     219592.0
28  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     226650.0
29  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     227485.0
30  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     233533.0
31  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     235482.0
32  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     275309.0
33  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     281760.0
34  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     282227.0
35  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     289156.0
36  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     291979.0
37  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     303118.0
38  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     311281.0
39  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     312028.0
40  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     315110.0
41  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     315946.0
42  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     322085.0
43  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     341284.0
44  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     343188.0
45  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     343968.0
46  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     347896.0
47  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     364320.0
48  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     365341.0
49  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     368081.0
50  AlabamaAlaskaArizonaArkansasCaliforniaColorado...     368515.0

    family_members  state_pop
0            864.0    4887681
1           1446.0    5622820
2           4052.0   12780844
3           4484.0   15790577
4          25448.0   55252165
5          28698.0   60943452
6          30394.0   64514972
7          30768.0   65480451
8          33902.0   66181998
9          43489.0   87426315
10         46045.0   97937446
11         48444.0   99358039
12         49159.0  101108575
13         53050.0  113831646
14         54532.0  120527143
15         55570.0  123675761
16         56343.0  126587120
17         57296.0  131048273
18         57815.0  135707963
19         58881.0  137047020
20         61111.0  143082822
21         74368.0  149965457
22         77510.0  159949529
23         80760.0  165555778
24         81088.0  168536798
25         83195.0  174658421
26         83617.0  175719086
27         84293.0  177644700
28         84779.0  180672041
29         85394.0  182025506
30         88744.0  190911531
31         89346.0  193004272
32        141416.0  212534623
33        144233.0  222916238
34        144308.0  223674318
35        147628.0  235350659
36        148676.0  239290894
37        152013.0  243472780
38        157362.0  256273702
39        157716.0  257331989
40        158567.0  262416145
41        158890.0  263294843
42        160634.0  270066474
43        166745.0  298695140
44        167717.0  301848690
45        168228.0  302473048
46        170275.0  310974334
47        176155.0  318498203
48        176377.0  320302494
49        178544.0  326109900
50        178749.0  326687501

In [58]:
#categorical variable stat
#homelessness_df
homelessness_df=homelessness_df.drop_duplicates(subset=["region","state"]) #dropped duplicates from homelessness_df of column region and state
#homelessness_df

#temperature_df
print(temperature_df["city"].value_counts(sort=True)) #city main maaujood jitne bhi sheher hain unki count descending order order main
print("__________________________________________________________________________")
print(temperature_df["city"].value_counts(normalize=True)) 
print("__________________________________________________________________________")
print(sales_subset_df.info()) #datatype of each column, show summary of different datatypes used in tables

Abidjan       165
Mogadishu     165
Peking        165
Paris         165
New York      165
             ...
Fortaleza     165
Faisalabad    165
Durban        165
Dhaka         165
Xian          165
Name: city, Length: 100, dtype: int64
__________________________________________________________________________
Abidjan       0.01
Mogadishu     0.01
Peking        0.01
Paris         0.01
New York      0.01
              ...
Fortaleza     0.01
Faisalabad    0.01
Durban        0.01
Dhaka         0.01
Xian          0.01
Name: city, Length: 100, dtype: float64
__________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB
None

In [59]:
print(sales_subset_df["weekly_sales"].cumsum()) #cummulative calculation
#sales_subset_df=sales_subset_df.drop_duplicates(subset=["type"]) #drop duplicates
print(sales_subset_df.value_counts())

0        2.492450e+04
1        4.675240e+04
2        1.040108e+05
3        1.214248e+05
4        1.389829e+05
             ...
10769    2.568930e+08
10770    2.568934e+08
10771    2.568938e+08
10772    2.568938e+08
10773    2.568947e+08
Name: weekly_sales, Length: 10774, dtype: float64
store  type  department  date        weekly_sales  is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
1      A     1           2010-02-05  24924.50      False       5.727778       0.679451              8.106           1
19     A     98          2010-12-03  11666.48      False       2.577778       0.845351              8.067           1
                         2010-04-02  15413.55      False       7.366667       0.781157              8.185           1
                         2010-05-07  13716.77      False       16.966667      0.817613              8.185           1
                         2010-06-04  13482.89      False       20.488889      0.794102              8.185           1
                                                                                                                   ..
6      A     99          2012-10-05  440.00        False       21.577778      0.955511              5.329           1
10     B     1           2010-02-05  40212.84      False       12.411111      0.782478              9.765           1
                         2010-03-05  36572.44      False       13.288889      0.760023              9.765           1
                         2010-04-02  131853.01     False       17.588889      0.815235              9.524           1
39     A     99          2012-10-05  915.00        False       22.250000      0.955511              6.228           1
Length: 10774, dtype: int64

<h1>Grouped Summary</h1>

In [60]:
#To apply the statistics operations on a numeric column for categorical column
#that can be done by groupby summary
sales_subset_df

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...
10769,39,A,99,2011-12-09,895.00,False,9.644444,0.834256,7.716
10770,39,A,99,2012-02-03,350.00,False,15.938889,0.887619,7.244
10771,39,A,99,2012-06-08,450.00,False,27.288889,0.911922,6.989
10772,39,A,99,2012-07-13,0.06,False,25.644444,0.860145,6.623
10773,39,A,99,2012-10-05,915.00,False,22.250000,0.955511,6.228

In [61]:
print(sales_subset_df["type"].unique())
print("__________________________________________________________________________________")
#calculate weekly sales of store a and b mean,median,max, and sum
print(sales_subset_df.groupby("type")["weekly_sales"].mean())
print("__________________________________________________________________________________")
print(sales_subset_df.groupby("type")["weekly_sales"].agg([min,max,sum]))
print("__________________________________________________________________________________")

['A' 'B']
__________________________________________________________________________________
type
A    23674.667242
B    25696.678370
Name: weekly_sales, dtype: float64
__________________________________________________________________________________
         min        max           sum
type
A    -1098.0  293966.05  2.337163e+08
B     -798.0  232558.51  2.317840e+07
__________________________________________________________________________________

In [62]:
#to calculate the weekly sales

#the first issue is we dont have the categorical variable that defines the dates

#first we have to create dates categorical variable and this is done under the umbrella of feature engineering




#step#01:craete date ranges
date_ranges=[
    (pd.Timestamp("2010-01-01"),pd.Timestamp("2010-12-31"),"2010"),
    (pd.Timestamp("2011-01-01"),pd.Timestamp("2011-12-31"),"2011"),
    (pd.Timestamp("2012-01-01"),pd.Timestamp("2012-12-31"),"2012")
]
#step#02:Create a function to categorize the dates based on the defined ranges
def categorize_date(date):
    for start_date,end_date,category in date_ranges:
        if start_date <= date <= end_date:
            return category
    return 'Unknown'
#create a dataframe of categorized dates
sales_subset_df["year"]=sales_subset_df["date"].apply(categorize_date)

TypeError: '<=' not supported between instances of 'Timestamp' and 'str'

In [ ]:
#grouped summary
sales_subset_df
temperature_df
homelessness_df
avocado_df
#type aur year ke hisaab se sales batao


type_year_nbsold = avocado_df.groupby(["type", "year"])["nb_sold"].agg(
    mean='mean',
    total='sum',
    minimum='min',
    maximum='max'
)

type_year_nbsold

In [63]:
#pivot tables
#aik categorical variable ke hisaab se aik numerical variable calculate kro
avocado_df.columns
avocado_df.info()
print(avocado_df.pivot_table(values="avg_price",index="size",aggfunc=[np.mean]))
#2 categorical variable aur aik numerical
print(avocado_df.pivot_table(values="nb_sold",index="size",columns="type",aggfunc=[np.mean,np.median]))
#main advantage of using pivot table is we can fill 0 to na values
print(avocado_df["nb_sold"].isnull().sum()) #tocalculate missing values in a column
print(avocado_df.loc[:,["nb_sold","avg_price"]].isnull().sum()) #to calculate missing values of multiple columns

print(avocado_df.pivot_table(values="nb_sold",index="avg_price",columns="size",fill_value=0))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1014 non-null   object
 1   type       1014 non-null   object
 2   year       1014 non-null   int64
 3   avg_price  1014 non-null   float64
 4   size       1014 non-null   object
 5   nb_sold    1014 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.7+ KB
                 mean
            avg_price
size
extra_large  1.319024
large        1.319024
small        1.319024
                     mean                      median
type         conventional        organic conventional    organic
size
extra_large  9.187040e+05    5409.545503    821964.42    4880.83
large        1.161486e+07  308284.424201  11354281.64  287724.61
small        1.201098e+07  148404.667515  12091315.22  132040.04
0
nb_sold      0
avg_price    0
dtype: int64
size       extra_large        large        small
avg_price
0.76        2546439.11  20470572.61  16573573.78
0.77        1664383.09  20328161.55  22743616.17
0.82        1993645.36  17896391.60  14223304.98
0.84        1414364.49  15899858.37  13748944.38
0.86        1560068.62  16054083.86  11616506.17
...                ...          ...          ...
1.96           1154.19    262747.80    108658.66
2.00            891.60    243233.57    140979.17
2.03            940.89    249231.14    114942.21
2.06           2256.96    256920.07    113516.00
2.09           2119.14    250861.84    112812.39

[109 rows x 3 columns]

In [76]:
#to reset and replace an index
avocado_df=avocado_df.reset_index(drop=True)
avocado_df
#replaced_index_avocado=avocado_df.reset_index(["names_of_indexes"])
#apply on brics
brics_df
#repl_ind_brics=brics_df.reset_index(["BRAZIL","RUSSIA","INDIA","CHINA","SOUTH_AFRICA"])
#print(brics_df[repl_ind_brics])
#failed: to reset an index

#make column to index
subset_index=brics_df.set_index("population") #how to make column row index
print(subset_index)

#how to make 2 columns row index
avocado_df
two_columns_to_row_index_avocado=avocado_df.set_index(["nb_sold","avg_price"])
print(two_columns_to_row_index_avocado)

#index based operations violates tidy data principles then leave it

                 country    capital    area
population
200.40            Brazil   Brasilia   8.516
143.50            Russia     Moscow  17.100
1252.00            India  New Delhi   3.286
1357.00            China    Beijing   9.597
52.98       South Africa   Pretoria   1.221
                            date          type  year         size
nb_sold    avg_price
9626901.09 0.95       2015-12-27  conventional  2015        small
8710021.76 0.98       2015-12-20  conventional  2015        small
9855053.66 0.93       2015-12-13  conventional  2015        small
9405464.36 0.89       2015-12-06  conventional  2015        small
8094803.56 0.99       2015-11-29  conventional  2015        small
...                          ...           ...   ...          ...
1703.52    1.53       2018-02-04       organic  2018  extra_large
1270.61    1.61       2018-01-28       organic  2018  extra_large
1490.02    1.63       2018-01-21       organic  2018  extra_large
1580.01    1.59       2018-01-14       organic  2018  extra_large
1289.07    1.51       2018-01-07       organic  2018  extra_large

[1014 rows x 4 columns]

In [78]:
#to calculate mean across row and columns
print(sales_subset_df.mean(axis="index")) #adding row by row so column entity calculated
print(sales_subset_df.mean(axis="columns")) #adding column by column so row index entity calculated

#by the way useful is row entity

store                      15.441897
department                 45.218118
weekly_sales            23843.950149
is_holiday                  0.003898
temperature_c              15.731978
fuel_price_usd_per_l        0.749746
unemployment                8.082009
dtype: float64
0        3563.001890
1        3120.965001
2        8183.681850
3        2492.432101
4        2513.666084
            ...
10769     150.170671
10770      73.152930
10771      89.027116
10772      24.455370
10773     154.633359
Length: 10774, dtype: float64

C:\Users\HR Computers\AppData\Local\Temp\ipykernel_2680\1155794009.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(sales_subset_df.mean(axis="index")) #adding row by row so column entity calculated
C:\Users\HR Computers\AppData\Local\Temp\ipykernel_2680\1155794009.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(sales_subset_df.mean(axis="columns")) #adding column by column so row index entity calculated