<h1>pandas</h1>

In [2]:
import numpy as np 
height_np=np.array([12,34,67,89])
print(height_np)

import pandas as pd
brics_df=pd.read_csv("E:\CAREER_DATA\data_files\\brics.txt",index_col=0)
brics_df

[12 34 67 89]

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

<h2>Subsetting<h2>
<ul>
<li>Bracket method []</li>
<li>Lable base method .loc[]</li>
<li>Position base method .iloc[]</li>
</ul>

In [3]:
#From bracket method subset specific columns and all rows
brics_bracket_meth_spc_col_allrows_subs=brics_df[["country","population"]]
print(brics_bracket_meth_spc_col_allrows_subs)
print("________________________________")
#from bracket method subset specific rows and all columns
brics_bracket_meth_spc_rows_allcols_subs=brics_df[1:3]
print(brics_bracket_meth_spc_rows_allcols_subs)

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98
________________________________
   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [4]:
#from label method access rows
brics_row_acc_lab_meth=brics_df.loc[["RU","SA"]]
print(brics_row_acc_lab_meth)
print("______________________")
#from label method access columns
brics_col_acc_lab_meth=brics_df.loc[:,["country","capital"]]
print(brics_col_acc_lab_meth)
print("______________________")
#from label method access row and column both
brics_row_col_acc_lab_meth=brics_df.loc[["RU","IN","CH"],["country","capital"]]
print(brics_row_col_acc_lab_meth)

         country   capital    area  population
RU        Russia    Moscow  17.100      143.50
SA  South Africa  Pretoria   1.221       52.98
______________________
         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria
______________________
   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [5]:
#from position based method access column
brics_rows_acc_pos_meth=brics_df.iloc[:,[1,2,3]]
print(brics_rows_acc_pos_meth)
print("_____________________________")
#from position based method access rows
brics_cols_acc_pos_meth=brics_df.iloc[[0,3],:]
print(brics_cols_acc_pos_meth)
print("_____________________________")
#from position based method access rows and columns
brics_rowscols_acc_pos_meth=brics_df.iloc[[0,2],[2,3]]
print(brics_rowscols_acc_pos_meth)

      capital    area  population
BR   Brasilia   8.516      200.40
RU     Moscow  17.100      143.50
IN  New Delhi   3.286     1252.00
CH    Beijing   9.597     1357.00
SA   Pretoria   1.221       52.98
_____________________________
   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0
_____________________________
     area  population
BR  8.516       200.4
IN  3.286      1252.0

<h1>Numpy and or and not</h1>
<ul>
    <li>logical_or()</li>
    <li>logical_and()</li>
    <li>logical_not()</li>
</ul>

<h1>Slicing</h1>

In [6]:
#Slice columns and rows by loc method
brics_sliced=brics_df[brics_df.loc[:,"area"]<8] #that will filter all rows of a selected(mentioned) column in a dataframe
print(brics_sliced)
print("___________________________________________")
#slice by numpy and, or, and not method
brics_and_method_sliced=brics_df.loc[np.logical_and(brics_df["area"]>8, brics_df["area"]<10)]

#brics_and_method_sliced = brics_df[np.logical_and(brics_df["area"] > 8, brics_df["area"] < 10)]

print(brics_and_method_sliced)

         country    capital   area  population
IN         India  New Delhi  3.286     1252.00
SA  South Africa   Pretoria  1.221       52.98
___________________________________________
   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

In [7]:
#specific columns ke elements run houn
for label, rows in brics_df.iterrows():
    print(label+": "+rows["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [8]:
#feature engineering 
brics_df.loc['name_length']=len(brics_df["country"])
print(brics_df)
print("_______________")

#another better way of creating 
brics_df=brics_df.drop("name_length")
print(brics_df)
print("___________________")

brics_df["capital_name_length"]=brics_df["capital"].apply(len) #to apply len, remember the specfied column does not contain any numeric variable
print(brics_df)

                  country    capital    area  population
BR                 Brazil   Brasilia   8.516      200.40
RU                 Russia     Moscow  17.100      143.50
IN                  India  New Delhi   3.286     1252.00
CH                  China    Beijing   9.597     1357.00
SA           South Africa   Pretoria   1.221       52.98
name_length             5          5   5.000        5.00
_______________
         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
___________________
         country    capital    area  population  capital_name_length
BR        Brazil   Brasilia   8.516      200.40                    8
RU        Russia     Moscow  17.100      143.50                    6
IN         India  New Delhi   3.286     1252.00                    9
CH         China    Beijing   9.597     1357.00                    7
SA  South Africa   Pretoria   1.221       52.98                    8

<h1>IMPORT ALL DATA</h1>

In [9]:
print(brics_df.drop('capital_name_length',axis=1))
print("...........................................................................................")
cars_df=pd.read_csv("E:\CAREER_DATA\data_files\\cars.txt",index_col=0)
print(cars_df)
print("...........................................................................................")
gapminder_df=pd.read_csv("E:\CAREER_DATA\data_files\\gapminder.txt",index_col=0)
print(gapminder_df)
print("...........................................................................................")

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
...........................................................................................
     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True
...........................................................................................
                 country  year  population      cont  life_exp       gdp_cap
11           Afghanistan  2007  31889923.0      Asia    43.828    974.580338
23               Albania  2007   3600523.0    Europe    76.423   5937.029526
35               Algeria  2007  33333216.0    Africa    72.301   6223.367465
47                Angola  2007  12420476.0    Africa    42.731   4797.231267
59             Argentina  2007  40301927.0  Americas    75.320  12779.379640
...                  ...   ...         ...       ...       ...           ...
1655             Vietnam  2007  85262356.0      Asia    74.249   2441.576404
1667  West Bank and Gaza  2007   4018332.0      Asia    73.422   3025.349798
1679         Yemen, Rep.  2007  22211743.0      Asia    62.698   2280.769906
1691              Zambia  2007  11746035.0    Africa    42.384   1271.211593
1703            Zimbabwe  2007  12311143.0    Africa    43.487    469.709298

[142 rows x 6 columns]
...........................................................................................

In [10]:
#sort values of a column
cars_df=cars_df.sort_values("cars_per_cap")
print(cars_df)
print("_______________________________________________________________________________________________")
print("Highest car per capita")
print(cars_df.tail(1))
print("_______________________________________________________________________________________________")
#sort one column in ascending order and other in descending order
gapminder_df=gapminder_df.sort_values(["population","gdp_cap"],ascending=[True,False])
print(gapminder_df)
print("_______________________________________________________________________________________________")
print("5 Least Populated and Highest GDP country is")
print(gapminder_df.head(5))

     cars_per_cap        country  drives_right
IN             18          India         False
EG             45          Egypt          True
MOR            70        Morocco          True
RU            200         Russia          True
JAP           588          Japan         False
AUS           731      Australia         False
US            809  United States          True
_______________________________________________________________________________________________
Highest car per capita
    cars_per_cap        country  drives_right
US           809  United States          True
_______________________________________________________________________________________________
                    country  year    population      cont  life_exp  \
1307  Sao Tome and Principe  2007  1.995790e+05    Africa    65.528
695                 Iceland  2007  3.019310e+05    Europe    81.757
431                Djibouti  2007  4.963740e+05    Africa    54.791
491       Equatorial Guinea  2007  5.512010e+05    Africa    51.579
1019             Montenegro  2007  6.847360e+05    Europe    74.543
...                     ...   ...           ...       ...       ...
179                  Brazil  2007  1.900106e+08  Americas    72.390
719               Indonesia  2007  2.235470e+08      Asia    70.650
1619          United States  2007  3.011399e+08  Americas    78.242
707                   India  2007  1.110396e+09      Asia    64.698
299                   China  2007  1.318683e+09      Asia    72.961

           gdp_cap
1307   1598.435089
695   36180.789190
431    2082.481567
491   12154.089750
1019   9253.896111
...            ...
179    9065.800825
719    3540.651564
1619  42951.653090
707    2452.210407
299    4959.114854

[142 rows x 6 columns]
_______________________________________________________________________________________________
5 Least Populated and Highest GDP country is
                    country  year  population    cont  life_exp       gdp_cap
1307  Sao Tome and Principe  2007    199579.0  Africa    65.528   1598.435089
695                 Iceland  2007    301931.0  Europe    81.757  36180.789190
431                Djibouti  2007    496374.0  Africa    54.791   2082.481567
491       Equatorial Guinea  2007    551201.0  Africa    51.579  12154.089750
1019             Montenegro  2007    684736.0  Europe    74.543   9253.896111

<h1>Hardcore subsetting</h1>

In [11]:
#subsetting based on multiple conditions
europe_gapminder=gapminder_df.loc[:,"cont"]=="Europe"
#print(gapminder_df[europe_gapminder])

life_exp_gapminder=gapminder_df.loc[:,"life_exp"]>70
#print(gapminder_df[life_exp_gapminder])

gdp_gapminder=gapminder_df.loc[:,"gdp_cap"]>30000
#print(gapminder_df[gdp_gapminder])

print(gapminder_df[europe_gapminder & life_exp_gapminder & gdp_gapminder])

             country  year  population    cont  life_exp      gdp_cap
695          Iceland  2007    301931.0  Europe    81.757  36180.78919
755          Ireland  2007   4109086.0  Europe    78.885  40675.99635
1151          Norway  2007   4627926.0  Europe    80.196  49357.19017
527          Finland  2007   5238460.0  Europe    79.313  33207.08440
419          Denmark  2007   5468120.0  Europe    78.332  35278.41874
1487     Switzerland  2007   7554661.0  Europe    81.701  37506.41907
83           Austria  2007   8199783.0  Europe    79.829  36126.49270
1475          Sweden  2007   9031088.0  Europe    80.884  33859.74835
119          Belgium  2007  10392226.0  Europe    79.441  33692.60508
1091     Netherlands  2007  16570613.0  Europe    79.762  36797.93332
1607  United Kingdom  2007  60776238.0  Europe    79.425  33203.26128
539           France  2007  61083916.0  Europe    80.657  30470.01670
575          Germany  2007  82400996.0  Europe    79.406  32170.37442

<h1>The list of best countries to live in best countries inside europe is just mentioned above</h1>

In [38]:
#use of isin()
#.isin() basically aik column main 2 cheezon ki bunyaad pe filtering krni hai tab use hota hai, only uses with categorical variables
print(gapminder_df["cont"].unique())
#finding best country in asia and europe
asia_europe_gapminder=gapminder_df.loc[:,"cont"].isin(["Asia","Europe"])
above_seventy_age=gapminder_df.loc[:,"life_exp"]>70
gdp_over_3000=gapminder_df.loc[:,"gdp_cap"]>30000

best_asian_european=gapminder_df[asia_europe_gapminder & above_seventy_age & gdp_over_3000]
best_asian_european

['Africa' 'Europe' 'Asia' 'Americas' 'Oceania']

               country  year   population    cont  life_exp      gdp_cap
695            Iceland  2007     301931.0  Europe    81.757  36180.78919
863             Kuwait  2007    2505559.0    Asia    77.588  47306.98978
755            Ireland  2007    4109086.0  Europe    78.885  40675.99635
1367         Singapore  2007    4553009.0    Asia    79.972  47143.17964
1151            Norway  2007    4627926.0  Europe    80.196  49357.19017
527            Finland  2007    5238460.0  Europe    79.313  33207.08440
419            Denmark  2007    5468120.0  Europe    78.332  35278.41874
671   Hong Kong, China  2007    6980412.0    Asia    82.208  39724.97867
1487       Switzerland  2007    7554661.0  Europe    81.701  37506.41907
83             Austria  2007    8199783.0  Europe    79.829  36126.49270
1475            Sweden  2007    9031088.0  Europe    80.884  33859.74835
119            Belgium  2007   10392226.0  Europe    79.441  33692.60508
1091       Netherlands  2007   16570613.0  Europe    79.762  36797.93332
1607    United Kingdom  2007   60776238.0  Europe    79.425  33203.26128
539             France  2007   61083916.0  Europe    80.657  30470.01670
575            Germany  2007   82400996.0  Europe    79.406  32170.37442
803              Japan  2007  127467972.0    Asia    82.603  31656.06806

<h1>Data Engineering</h1>

In [36]:
#brics_df=brics_df.drop("capital_name_length",axis=1)
#brics_df
#densiest countries
brics_df["density"]=brics_df["population"]/brics_df["area"]
#brics_df
brics_df=brics_df.sort_values("density",ascending=False)
brics_df

         country    capital    area  population     density
IN         India  New Delhi   3.286     1252.00  381.010347
CH         China    Beijing   9.597     1357.00  141.398354
SA  South Africa   Pretoria   1.221       52.98   43.390663
BR        Brazil   Brasilia   8.516      200.40   23.532175
RU        Russia     Moscow  17.100      143.50    8.391813

<h1>Exporting File</h1>

In [40]:
#sasti data analysis
#brics_df.to_csv("E:\CAREER_DATA\data_files\\brics_df.csv",index=False)
#best_asian_european.to_csv("E:\CAREER_DATA\data_files\\best_asian_european_living_df.csv",index=False)