<h1>HELLO WORLD!</h1>
<p>all print techniques</p>

In [128]:
print("Hello World!")
my_name="Hamza"
print('Hello{}'.format(my_name))
print(f'Hello{my_name}')

Hello World!
HelloHamza
HelloHamza

In [129]:
import numpy as np 
height_np=np.array([12,34,67,89])
print(height_np)

[12 34 67 89]

In [130]:
import pandas as pd
brics_df=pd.read_csv("E:\CAREER_DATA\data_files\\brics.txt",index_col=0)
brics_df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

<h1>Tips and tricks of data manipulation</h1>

In [131]:
#In numpy you subset like this

#code
numpy_array=np.array([63,735732,75])
print(numpy_array[0])

63

In [132]:
#In pandas it is different

#brics_df.loc["IN"] #output pandas series
brics_spc_row=brics_df.loc[["IN"]] #Output specifc row automatocally selecting all columns
#this is called label base filtering or subsetting
brics_spc_rows=brics_df.loc[["CH","BR"]]
print(brics_spc_row)
print(brics_spc_rows)

   country    capital   area  population
IN   India  New Delhi  3.286      1252.0
   country   capital   area  population
CH   China   Beijing  9.597      1357.0
BR  Brazil  Brasilia  8.516       200.4

In [133]:
#now to look, if we want to run all rows with a selected column?
brics_sel_columns=brics_df.loc[:,["capital"]]
print(brics_sel_columns)

      capital
BR   Brasilia
RU     Moscow
IN  New Delhi
CH    Beijing
SA   Pretoria

<h2>Subsetting<h2>
<ul>
<li>Bracket method []</li>
<li>Lable base method .loc[]</li>
<li>Position base method .iloc[]</li>
</ul>

In [134]:
#From bracket method subset specific columns and all rows
brics_bracket_meth_spc_col_allrows_subs=brics_df[["country","population"]]
print(brics_bracket_meth_spc_col_allrows_subs)
print("________________________________")
#from bracket method subset specific rows and all columns
brics_bracket_meth_spc_rows_allcols_subs=brics_df[1:3]
print(brics_bracket_meth_spc_rows_allcols_subs)

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98
________________________________
   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [135]:
#from label method access rows
brics_row_acc_lab_meth=brics_df.loc[["RU","SA"]]
print(brics_row_acc_lab_meth)
print("______________________")
#from label method access columns
brics_col_acc_lab_meth=brics_df.loc[:,["country","capital"]]
print(brics_col_acc_lab_meth)
print("______________________")
#from label method access row and column both
brics_row_col_acc_lab_meth=brics_df.loc[["RU","IN","CH"],["country","capital"]]
print(brics_row_col_acc_lab_meth)

         country   capital    area  population
RU        Russia    Moscow  17.100      143.50
SA  South Africa  Pretoria   1.221       52.98
______________________
         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria
______________________
   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [136]:
#from position based method access column
brics_rows_acc_pos_meth=brics_df.iloc[:,[1,2,3]]
print(brics_rows_acc_pos_meth)
print("_____________________________")
#from position based method access rows
brics_cols_acc_pos_meth=brics_df.iloc[[0,3],:]
print(brics_cols_acc_pos_meth)
print("_____________________________")
#from position based method access rows and columns
brics_rowscols_acc_pos_meth=brics_df.iloc[[0,2],[2,3]]
print(brics_rowscols_acc_pos_meth)

      capital    area  population
BR   Brasilia   8.516      200.40
RU     Moscow  17.100      143.50
IN  New Delhi   3.286     1252.00
CH    Beijing   9.597     1357.00
SA   Pretoria   1.221       52.98
_____________________________
   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0
_____________________________
     area  population
BR  8.516       200.4
IN  3.286      1252.0

<h1>Numpy and or and not</h1>
<ul>
    <li>logical_or()</li>
    <li>logical_and()</li>
    <li>logical_not()</li>
</ul>

<h1>Slicing</h1>

In [137]:
#Slice columns and rows by loc method
brics_sliced=brics_df[brics_df.loc[:,"area"]<8] #that will filter all rows of a selected(mentioned) column in a dataframe
print(brics_sliced)
print("___________________________________________")
#slice by numpy and, or, and not method
brics_and_method_sliced=brics_df.loc[np.logical_and(brics_df["area"]>8, brics_df["area"]<10)]

#brics_and_method_sliced = brics_df[np.logical_and(brics_df["area"] > 8, brics_df["area"] < 10)]

print(brics_and_method_sliced)

         country    capital   area  population
IN         India  New Delhi  3.286     1252.00
SA  South Africa   Pretoria  1.221       52.98
___________________________________________
   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

<h1>Lists</h1>
<ul>
    <li>Creation Techniques</li>
    <li>Subsetting</li>
    <li>slicing</li>
    <li>manipulation</li>
    <ul>
        <li>adding</li>
        <li>deleting</li>
        <li>replacing</li>
    </ul>
    </ul>

In [138]:
#creation
tech01_list001=[12,"ghq",90.12,True,89,55]
tech02_list002=tech01_list001[:]
tech03_list003=list(tech02_list002)
tech04_list004=tech03_list003.copy()
list2d_1 = [[12, "hji", 78.0],["jdhfwue", 0.9, "oi"]]

print(tech01_list001)
print("___________________")
print(tech02_list002)
print("___________________")
print(tech03_list003)
print("___________________")
print(tech04_list004)
print("___________________")
print(list2d_1)

[12, 'ghq', 90.12, True, 89, 55]
___________________
[12, 'ghq', 90.12, True, 89, 55]
___________________
[12, 'ghq', 90.12, True, 89, 55]
___________________
[12, 'ghq', 90.12, True, 89, 55]
___________________
[[12, 'hji', 78.0], ['jdhfwue', 0.9, 'oi']]

In [139]:
print(tech01_list001[3])
print(tech01_list001[1:4])
print(list2d_1[0]) #0th row printed out
print(list2d_1[0][0]) #specific point on 2d list

#using functons and methods 
print(tech01_list001.index(True)) #it returns the index of mentioned element in a list

True
['ghq', 90.12, True]
[12, 'hji', 78.0]
12
3

In [140]:
long_list=[1,2,3,4,5,6,7,8,9,0,10,11,23,45,67,88,754,643,2,343]
print(long_list[1:10:2]) #long_list[start:stop:step]
print(long_list[1:-7])

[2, 4, 6, 8, 0]
[2, 3, 4, 5, 6, 7, 8, 9, 0, 10, 11, 23]

In [141]:
#adding
sap_list=["hamza","nunnu","moiz bhai","basha","huzaifa","owais","arham commecs","osama"]
sap2_list=["ali","fahud","awais"]
add_list1=long_list+["Hamza"]
#print(add_list1)
print("____________________")
add2_list1=add_list1+add_list1
#print(add2_list1)
print("____________________")
#ext_list1=add_list1*3
#print(ext_list1) #list elements increased by 3 times
print("_______________________________")
#some function and methods

#long_list.extend(long_list) #.extend() can only take inputs of an iterable(a variable that can be used in a loop)
#print(long_list)
sap_list.append("moiz") #append an element in the last of e list
print(sap_list)
print("_______________")
sap_list.insert(7,"awais") #insert an element at an specified index
print(sap_list)

____________________
____________________
_______________________________
['hamza', 'nunnu', 'moiz bhai', 'basha', 'huzaifa', 'owais', 'arham commecs', 'osama', 'moiz']
_______________
['hamza', 'nunnu', 'moiz bhai', 'basha', 'huzaifa', 'owais', 'arham commecs', 'awais', 'osama', 'moiz']

In [142]:
#deletion:
del long_list[0] #only a specified index
#print(long_list)
print("_________________")
long_list.remove(0) #repeating 0 willl be deleted
#print(long_list)
print("________________")
sap_list.pop(-1)
print(sap_list)
print("________________")
long_list.clear()
print(long_list)

_________________
________________
['hamza', 'nunnu', 'moiz bhai', 'basha', 'huzaifa', 'owais', 'arham commecs', 'awais', 'osama']
________________
[]

In [143]:
#replace
sap_list[-1]="ahmerr"
sap_list.extend(sap2_list)
print(sap_list)

['hamza', 'nunnu', 'moiz bhai', 'basha', 'huzaifa', 'owais', 'arham commecs', 'awais', 'ahmerr', 'ali', 'fahud', 'awais']

<h1>Tuple</h1>
<ul>
    <li>creation: a=(1,2,3)</li>
    <li>when to use?In months calender</li>
    <li>tupple elements cannot be change</li>
    </ul>

<h1>SETS</h1>
<ul>
    <li>each element is unique</li>
    <li>it is not ordered</li>
    <li>it is mutable</li>
    <li>creation:
        x=set(1,2,3)
        or
        x=set()
        a=a.add(1,2,3)</li>
    </ul>

<h1>Dictionary</h1>
<ul>
    <li>creation: a={"key":"value",key:value}</li>
    <li>subsetting, indexing, dynamic dictionary, nested dictionary</li>
    </ul>

In [144]:
d01={1:"Hamza",2:"Shariq",3:"Fouz",4:"Arhum",5:"Karam",6:"Ayan",7:"Zeeshan",8:"Zaid",9:"Muaaz",
    10:"Moaz",11:"Owais"}
d02={"ibtehaj":4,"owais":7,"hamza":[2,5,57,30]}

In [145]:
#subsetting
print(d01[11]) #basically it is not called by an index but by key so that is how value appears
#slicing
keys_list=list(d01.keys()) #print out keys of d01
sliced_keys=keys_list[6:10]
sliced_dict={key:d01[key] for key in sliced_keys}
print(sliced_dict)

#another method:
import itertools
sliced_dict_by_method = dict(itertools.islice(d01.items(), 2,6))
print(sliced_dict_by_method)

Owais
{7: 'Zeeshan', 8: 'Zaid', 9: 'Muaaz', 10: 'Moaz'}
{3: 'Fouz', 4: 'Arhum', 5: 'Karam', 6: 'Ayan'}

In [146]:
#dynamic dictionary
d03={}
d03["animal"]=["Dog","cat"]
d03["answer"]=[42,23]
print(d03)
#dictionary created like this

{'animal': ['Dog', 'cat'], 'answer': [42, 23]}

<h1>NOTE</h1>
<ul>
    <li>In bracket it usually takes all rows and specific columns so use it when <b>bool filtering applied</b></li>
</ul>

<h1>Loops</h1>
<ul>
    <li>for loop</li>
        <p></p>
    <li>while loop</li>
    </ul>
        <ul>

In [147]:
for x in range(0,6):
    print(x)

0
1
2
3
4
5

In [148]:
#loops on a list
list100=[12,"ghq",90.12,True,89,55]
for itr_var in list100:
    print(itr_var)

12
ghq
90.12
True
89
55

In [149]:
#loops with enumerate function
for ind,val in enumerate(list100):
    print("index:"+str(ind)+","+str(val))
#enumerate function index aur values ko nikaal leta hai

index:0,12
index:1,ghq
index:2,90.12
index:3,True
index:4,89
index:5,55

In [150]:
#loops in a dictionary
for key,val in d01.items():
    print("key:"+str(key)+", value:"+str(val))

key:1, value:Hamza
key:2, value:Shariq
key:3, value:Fouz
key:4, value:Arhum
key:5, value:Karam
key:6, value:Ayan
key:7, value:Zeeshan
key:8, value:Zaid
key:9, value:Muaaz
key:10, value:Moaz
key:11, value:Owais

In [151]:
#loops in numpy array
np_height=np.array([177,178,190,156,172,170])
for x in np_height:
    print(x)

177
178
190
156
172
170

In [152]:
brics_df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [153]:
#loops in pandas dataframe
for row,col in brics_df.iterrows():
    print(row)
    print("____")
    print(col)

BR
____
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
____
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
____
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
____
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
____
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [154]:
#specific columns ke elements run houn
for label, rows in brics_df.iterrows():
    print(label+": "+rows["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [155]:
#feature engineering 
brics_df.loc['name_length']=len(brics_df["country"])
print(brics_df)
print("_______________")

#another better way of creating 
brics_df=brics_df.drop("name_length")
print(brics_df)
print("___________________")

brics_df["capital_name_length"]=brics_df["capital"].apply(len) #to apply len, remember the specfied column does not contain any numeric variable
print(brics_df)

                  country    capital    area  population
BR                 Brazil   Brasilia   8.516      200.40
RU                 Russia     Moscow  17.100      143.50
IN                  India  New Delhi   3.286     1252.00
CH                  China    Beijing   9.597     1357.00
SA           South Africa   Pretoria   1.221       52.98
name_length             5          5   5.000        5.00
_______________
         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
___________________
         country    capital    area  population  capital_name_length
BR        Brazil   Brasilia   8.516      200.40                    8
RU        Russia     Moscow  17.100      143.50                    6
IN         India  New Delhi   3.286     1252.00                    9
CH         China    Beijing   9.597     1357.00                    7
SA  South Africa   Pretoria   1.221       52.98                    8

<h1>Type Conversion</h1>
<h2>Basic Data Type</h2>
<ul>
    <li>int to str,float,bool</li>
    <li>float to int,str</li>
    <li>bool to str, int</li>
    <li>str to int,float,str</li>
    </ul>
    <h2>Adavanced Data Types</h2>
    <ul>
    <li>list to tuple, set</li>
    <li>tuple to set</li>
    <li>set to list, tuple</li>
    <li>dictionary to list,tuple,set</li>